.InputUnitContainer {
  display: flex;
  align-items: center;
  gap: 4px;

  .QuantityInputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;

    .ArrowIcon {
      height: 32px;
      width: 32px;
      cursor: pointer;
    }

    .ArrowIconDisabled {
      cursor: not-allowed;
      pointer-events: none;
    }

    .QuantityInput {
      -webkit-appearance: none;
      font-size: 18px;
      text-align: center;
      border: none;
      padding: 0;
    }
  }

  .ItemQuantityUnit {
  }
}
